<h3>Edit</h3>
<%= form_for [@client, @service] do |f| %>
  <div class="card">
   <%= f.hidden_field :client_id, :value => @client.id %>
   <%= f.hidden_field :employee_id, :value => current_employee.id %>

   <%= f.label :description %>
   <%= f.text_field :description %>

   <%= f.label :date %>
   <%= f.date_field :date %>

   <%= f.label "Time (in minutes)" %>
   <%= f.number_field :time %>

   <%= f.submit class: "btn link-btn black" %>
  </div>
 <% end %>
