<h1>Service</h1>

<p><%= @service.date %></p>
<p><%= @service.description %></p>
<p><%= @service.time %></p>

<%= link_to "Edit", edit_client_service_path(@client,@service) %>
<br>
<%= link_to "View All Services", client_path(@client) %>
