<div class="card">
  <h3><%= @client.name %></h3>
  <h5 class="right">Balance Due: $<%= @billable %> </h5>
  <h5><%= @client.address %></h5>
  <div id="client-detail"></div>
  <%= link_to "...", client_path(@client), id: 'detail-button', remote: true %>
</div>



<div class="collection white">
  <span class="right"><%= link_to "Add Service", new_client_service_path(@client) %></span><br>
  <span class="right"><%= link_to "Create Invoice", client_invoices_path(@client) %></span>
  <h3 class="center">Services</h3>
  <% @client.services.order(:date).each do |service| %>
    <% if !service.paid? %>
      <h5 class="collection-item"> <%= service.date.strftime('%D') %> <%= link_to service.description, client_service_path(@client, service) %> <span class='right'>$<%= service.cost %></span> </h5>
    <% end %>
  <% end %>
</div>

<% @client.services.order(:date).each do |service| %>
  <% if service.paid? %>
  <div class="collection white">
    <h5 class="collection-item"> <%= service.date.strftime('%D') %> <%= link_to service.description, client_service_path(@client, service) %><span class='right'>Paid</span></h5>
  </div>
  <% end %>
<% end %>
