<div class="card">
  <h3><%= @client.name %></h3>
  <h5><%= @client.address %></h5>
</div>


<div class="collection">
  <h3 class="center">Services</h3>
    <% @client.services.order(:date).each do |service| %>
      <h4 class="collection-item"> <%= service.date %> <%= link_to service.description, client_service_path(@client, service) %> </h4>
    <% end %>
  </div>

<%= link_to "Add Service", new_client_service_path(@client) %>
