<div class="card">
  <h3><%= @client.name %></h3>
  <h5 class="right">Balance Due: $<%= @billable %> </h5>
  <h5><%= @client.address %></h5>
</div>

<div class="collection white">
  <h3 class="center">Services</h3>
  <% @client.services.order(:date).each do |service| %>
    <% if !service.paid? %>
      <h5 class="collection-item"> <%= service.date.strftime('%D') %> <%= link_to service.description, client_service_path(@client, service) %> <span class='right'>$<%= service.cost %></span> </h5>
    <% end %>
  <% end %>
</div>
  <div class="collection white">
    <% @client.services.order(:date).each do |service| %>
      <% if service.paid? %>
        <h5 class="collection-item"> <%= service.date.strftime('%D') %> <%= link_to service.description, client_service_path(@client, service) %><span class='right'>Paid</span></h5>
      <% end %>
    <% end %>
  </div>

<%= link_to "Add Service", new_client_service_path(@client) %>
