<div class="card">
  <h3><%= @client.name %></h3>
  <h5><%= @client.address %></h5>
</div>


<div class="collection white">
  <h3 class="center">Services</h3>
    <% @client.services.order(:date).each do |service| %>
      <h5 class="collection-item"> <%= service.date.strftime('%D') %> <%= link_to service.description, client_service_path(@client, service) %> </h5>
    <% end %>
  </div>

<%= link_to "Add Service", new_client_service_path(@client) %>

<div class="card">
  <h5>Total Time: <%= @total %> minutes</h5>
  <h5>Total Due: $<%= @billable %> </h5>
</div>
