<!DOCTYPE html>
<html>
  <head>
    <title>QuickTrack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper black">
        <a href="/" class="brand-logo">Quick Track</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

          <% if employee_signed_in? %>
            <strong><%= current_employee.email %></strong>
            <li><%= link_to "Logout", destroy_employee_session_path, method: :delete, :class => 'navbar-link'  %></li>
          <% else %>
             <li><%= link_to "Sign up", new_employee_registration_path, :class => 'navbar-link'  %></li>
             <li><%= link_to "Login", new_employee_session_path, :class => 'navbar-link' %></li>
           <% end %>

        </ul>
      </div>
    </nav>

    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
